doctype
html
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body

    h2 Hi People!
    #react-main-mount !{reactOutput}

    script.
        window.initialProps = !{initialProps}
    script(src='js/app.js')
    
