doctype
html(lang='en')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/style.css')

    h2 Hi People!
    #react-main-mount !{reactOutput}

    script.
        window.initialProps = !{initialProps}
    script(src='js/app.js')
    